<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-3">
                <img src="~/resources/Moi.jpg" class="img-fluid rounded" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <p class="lead">Hello, my name is</p>
                <p class="display-4">Okafor Chinazor Fredrick</p>
                <p class="lead">I'm a full-stack developer at Decagon institute. I specialise in frontend and backend development for complex scalable web apps. Want to know how I may help your project? Feel free to send me an email.</p>
                <a href='@Url.Action("Contact", "Home")' class="btn">Reach out</a>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 mt-5">
    <div class="row text-center mb-5 w-75 mx-auto">
        <div class="col-12 mb-3">
            <h4 class="display-4">Skill Overview</h4>
        </div>
        <div class="col-12 text-center">
            I have close to 2 years' experience building rich web applications for clients all over the world. Below is a quick overview of my main technical skill sets and tools I use. Want to find out more about my experience? Check out my <a href="javascript:void(0);">github page.</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4 col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="lead mb-3">Frontend</h3>
                    <ul class="list">
                        <li>HTML5 / CSS3 / Javascript</li>
                        <li>Vue</li>
                        <li>React</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="lead mb-3">Backend</h3>
                    <ul class="list">
                        <li>.NET MVC</li>
                        <li>.NET Core</li>
                        <li>Flask</li>
                        <li>SQL/MySQL</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-12 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="lead mb-3">Others</h3>
                    <ul class="list">
                        <li>Test Driven Development</li>
                        <li>Git</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="p-4">
    <div class="container mt-5 w-100 mx-auto text-center pb-3">
        <div class="row">
            <div class="col-12 mb-5 text-center"><h3 class="display-4">Featured Projects</h3></div>
            <div class="col-sm-4 col-12 mb-3">
                <div class="card" style="height: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Calculator</h5>
                        <p class="card-text">A basic Calculator App built with C# and winforms, fully functional and end-user friendly.</p>
                        <a href="javascript:void(0);" class="btn btn-primary stretched-link">Check out code</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 mb-3">
                <div class="card" style="height: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Riverwood Switch Foundation</h5>
                        <p class="card-text">A youth driven non-governmental organization designed and set up to provide indigent children access to basic education</p>
                        <a href="javascript:void(0);" class="btn btn-primary stretched-link">Visit site</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-12 mb-3">
                <div class="card" style="height: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Customer Inventory App</h5>
                        <p class="card-text">A customer management system with full CRUD operations for managing customers and departments, built with winforms and C#</p>
                        <a href="javascript:void(0);" class="btn btn-primary stretched-link">Check out code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Reach out section*@
<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-white">
        <div class="row text-center">
            <p class="col-12 display-4">Interested in hiring me for your project?</p>
            <p class="col-12">
                ...just drop me an email at chinazor.okafor@decagon.dev or click the button below
            </p>
        </div>
        <div class="text-center">
            <a href='@Url.Action("Contact", "Home")' class="btn">Reach out</a>
        </div>
    </div>
</div>